Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, MetricsCollector, MetricsPusher, Syncer, TestUtil, Config, GitHub Actions, Documentation

delete from test
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

delete from new gauge vec
  internal/metrics-pusher/metrics_pusher.go
Labels: MetricsPusher

delete from set collector status
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller

Fix/delete namespace and name labels from collector status metrics (#116)
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/metrics-pusher/fake_metrics_pusher.go
  internal/metrics-pusher/metrics_pusher.go
  internal/metrics-pusher/metrics_pusher_test.go
Labels: Controller, MetricsPusher

Create new release.
  .version
Labels: none

Create new release. (#117)
  .version
Labels: none

rename pkg
  cmd/main.go
Labels: Controller

rename pkg in syncer
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Syncer

rename pkg
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
Labels: Controller

Refactor/rename metrics package (#118)
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Syncer

use metrics server package
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
Labels: Controller

fix codecov action
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

MetricsCollector:
  - internal/metrics-collector/**/*

MetricsPusher:
  - internal/metrics-pusher/**/*

Syncer:
  - internal/syncer/**/*

TestUtil:
  - test/util/**/*

Config:
  - config/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*
