Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, Metrics, GitHub Actions, Documentation

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

Metrics:
  - internal/metrics/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*

mod tidy
  go.mod
  go.sum
Labels: none

fix go mod
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
  go.mod
  go.sum
Labels: none

upload coverage reports to codecov
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

update name
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

fix job name
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

fix ci
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

Feature/setup codecov to check coverage (#40)
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

set codecov badge
  README.md
Labels: Documentation

add config file
  codecov.yaml
Labels: none

set option
  codecov.yaml
Labels: none

Chore/config codecov (#41)
  codecov.yaml
Labels: none

update api
  api/v1/customhorizontalpodautoscaler_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
Labels: API

update actions trigger
  .github/workflows/go_build.yaml
  .github/workflows/go_ci.yaml
Labels: GitHub Actions

fix typo
  api/v1/customhorizontalpodautoscaler_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
Labels: API

rename TemporaryScaleMetric to ConditionalReplicasTarget
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/metrics/fake_metrics_job_client.go
  internal/metrics/metrics_job_client.go
  internal/metrics/metrics_job_client_test.go
Labels: Controller, Metrics

update sample
  config/samples/custom-autoscaling_v1_customhorizontalpodautoscaler.yaml
Labels: none

update api
  api/v1/customhorizontalpodautoscaler_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
Labels: API

rename
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/metrics/fake_metrics_job_client.go
  internal/metrics/metrics_job_client.go
  internal/metrics/metrics_job_client_test.go
Labels: Controller, Metrics

update api
  api/v1/customhorizontalpodautoscaler_types.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
Labels: API

update sample
  config/samples/custom-autoscaling_v1_customhorizontalpodautoscaler.yaml
Labels: none

update sample
  config/samples/custom-autoscaling_v1_customhorizontalpodautoscaler.yaml
Labels: none

add project status check target
  codecov.yaml
Labels: none

Feature/reconstruction of api (#42)
  .github/workflows/go_build.yaml
  .github/workflows/go_ci.yaml
  api/v1/customhorizontalpodautoscaler_types.go
  api/v1/zz_generated.deepcopy.go
  codecov.yaml
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
  config/samples/custom-autoscaling_v1_customhorizontalpodautoscaler.yaml
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/metrics/fake_metrics_job_client.go
  internal/metrics/metrics_job_client.go
  internal/metrics/metrics_job_client_test.go
Labels: API, Controller, Metrics, GitHub Actions

create syncer
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/suite_test.go
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/syncer/fake_syncer.go
  internal/syncer/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Metrics

rename
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/metrics/metrics_collector_test.go
  internal/syncer/fake_syncer.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Metrics

fix pkg
  internal/syncer/syncer.go
Labels: none

rename duration to id
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Metrics

rename jobtype to tyoe
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Metrics

delete MetricType
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Metrics

rename j to s
  internal/syncer/fake_syncer.go
  internal/syncer/syncer.go
Labels: none

delete pkg
  internal/controller/customhorizontalpodautoscaler_controller_test.go
Labels: Controller

Refactor/rename metrics job client (#43)
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/suite_test.go
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/metrics/metrics_job_client.go
  internal/syncer/fake_syncer.go
  internal/syncer/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Metrics

add test util
  test/util/fake_custom_horizontal_pod_autoscaler.go
  test/util/fake_prometheus_server.go
Labels: none

add integration test
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
Labels: Controller

use prometheus in testutil
  internal/metrics/metrics_collector_test.go
Labels: Metrics

use fake hpa in util
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/syncer/syncer_test.go
Labels: Controller

set interval
  internal/controller/integration_test.go
Labels: Controller

stop thread
  internal/metrics/metrics_collector_test.go
  internal/syncer/syncer_test.go
Labels: Metrics

add test
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
Labels: Controller

add test
  internal/controller/integration_test.go
Labels: Controller
