Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, Metrics, Syncer, TestUtil, Config, GitHub Actions, Documentation

delete env
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

fix ci
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

Create new release.
  .version
Labels: none

update automerge
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

set pr url from create-pr
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release. (#89)
  .version
Labels: none

check create pr
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

Create new release. (#90)
  .version
Labels: none

Create new release.
  .version
Labels: none

Create new release. (#91)
  .version
Labels: none

test ci
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

test ci
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

Create new release. (#93)
  .version
Labels: none

Create new release.
  .version
Labels: none

Create new release. (#94)
  .version
Labels: none

test ci
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

test ci
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

Create new release. (#96)
  .version
Labels: none

update tag
  config/manager/kustomization.yaml
Labels: Config

Feature/update controller image tag (#97)
  config/manager/kustomization.yaml
Labels: Config

update comment
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

update trigger
  .github/workflows/scan_code.yaml
Labels: GitHub Actions

set code scan
  .github/workflows/scan_code.yaml
Labels: GitHub Actions

Chore/update actions trigger (#98)
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

update description
  docs/assets/description.png
Labels: Documentation

add description
  README.md
Labels: Documentation

add architecture and timing-chart
  docs/architecture-diagram.md
  docs/assets/architecture.png
  docs/assets/timing-chart.png
Labels: Documentation

Docs/update readme (#99)
  README.md
  docs/architecture-diagram.md
  docs/assets/architecture.png
  docs/assets/description.png
  docs/assets/timing-chart.png
Labels: Documentation

rename dir
  internal/metrics-collector/fake_metrics_collector.go
  internal/metrics-collector/metrics_collector.go
  internal/metrics-collector/metrics_collector_test.go
  internal/metrics-collector/suite_test.go
Labels: none

update metrics collector path
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Syncer

set pkg name
  cmd/main.go
  internal/syncer/syncer_test.go
Labels: Controller, Syncer

update pkg name from metrics to collector
  internal/metrics-collector/fake_metrics_collector.go
  internal/metrics-collector/metrics_collector.go
  internal/metrics-collector/metrics_collector_test.go
  internal/metrics-collector/suite_test.go
Labels: none

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

Metrics:
  - internal/metrics/**/*

Syncer:
  - internal/syncer/**/*

TestUtil:
  - test/util/**/*

Config:
  - config/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*
