Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, Metrics, GitHub Actions, Documentation

Test/create integration test (#44)
  internal/controller/integration_test.go
  internal/metrics/metrics_collector_test.go
  internal/syncer/syncer_test.go
  test/util/fake_custom_horizontal_pod_autoscaler.go
  test/util/fake_prometheus_server.go
Labels: Controller, Metrics

fix update status
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller

fix/update status (#45)
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller

rename api
  api/v1alpha1/customhorizontalpodautoscaler_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
Labels: API

rename all
  PROJECT
  cmd/main.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
  config/samples/custom-autoscaling_v1_customhorizontalpodautoscaler.yaml
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/controller/suite_test.go
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/metrics/suite_test.go
  internal/syncer/fake_syncer.go
  internal/syncer/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
  test/util/fake_custom_horizontal_pod_autoscaler.go
Labels: Controller, Metrics

update makefile
  Makefile
Labels: none

Refactore/change api version (#46)
  Makefile
  PROJECT
  api/v1alpha1/customhorizontalpodautoscaler_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
  config/samples/custom-autoscaling_v1_customhorizontalpodautoscaler.yaml
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/controller/suite_test.go
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/metrics/suite_test.go
  internal/syncer/fake_syncer.go
  internal/syncer/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
  test/util/fake_custom_horizontal_pod_autoscaler.go
Labels: API, Controller, Metrics

fix ver
  PROJECT
Labels: none

copy metrics and syncer
  Dockerfile
Labels: none

set prefix
  config/default/kustomization.yaml
Labels: none

set prometheus address
  config/default/manager_auth_proxy_patch.yaml
Labels: none

set rbac
  config/manager/kustomization.yaml
  config/rbac/role.yaml
  config/samples/custom-autoscaling_v1alpha1_customhorizontalpodautoscaler.yaml
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller

no need to set context
  internal/syncer/syncer.go
Labels: none

fix resource name
  config/samples/kustomization.yaml
Labels: none

enable prometheus
  config/default/kustomization.yaml
Labels: none

improved abeilability
  config/manager/manager.yaml
Labels: none

Feature/setup rbac for release (#47)
  Dockerfile
  PROJECT
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/samples/custom-autoscaling_v1alpha1_customhorizontalpodautoscaler.yaml
  config/samples/kustomization.yaml
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/syncer/syncer.go
Labels: Controller

delete comment
  .github/workflows/dependabot_auto_merge.yaml
Labels: GitHub Actions

add action for release
  .github/workflows/create_release.yaml
Labels: GitHub Actions

test deploy
  .github/workflows/create_release.yaml
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

fix action
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

update trigger
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

update image
  config/manager/kustomization.yaml
Labels: none

Chore/create and publish a Docker image (#48)
  .github/workflows/dependabot_auto_merge.yaml
  .github/workflows/deploy_images.yaml
  config/manager/kustomization.yaml
Labels: GitHub Actions

update trigger
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

add comment
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

fix branch name
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

update trigger
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

Chore/update deploy images action trigger (#49)
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

Metrics:
  - internal/metrics/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*
