Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, MetricsCollector, MetricsPusher, Syncer, TestUtil, Config, GitHub Actions, Documentation

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

MetricsCollector:
  - internal/metrics-collector/**/*

MetricsPusher:
  - internal/metrics-pusher/**/*

Syncer:
  - internal/syncer/**/*

TestUtil:
  - test/util/**/*

Config:
  - config/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*

add collector status
  api/v1alpha1/customhorizontalpodautoscaler_types.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
Labels: API, Config

fix typo
  api/v1alpha1/customhorizontalpodautoscaler_types.go
Labels: API

set collector status
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/metrics-collector/fake_metrics_collector.go
  internal/metrics-collector/metrics_collector.go
Labels: Controller, MetricsCollector

Feature/manage status of collector (#107)
  api/v1alpha1/customhorizontalpodautoscaler_types.go
  config/crd/bases/custom-autoscaling.sample.com_customhorizontalpodautoscalers.yaml
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/metrics-collector/fake_metrics_collector.go
  internal/metrics-collector/metrics_collector.go
Labels: API, Controller, MetricsCollector, Config

add collectorStatus in metricsPusher
  internal/metrics-pusher/metrics-pusher.go
Labels: MetricsPusher

create collector status vector
  internal/metrics-pusher/metrics-pusher.go
Labels: MetricsPusher

add interface
  internal/metrics-pusher/metrics-pusher.go
Labels: MetricsPusher

fix metrics name
  internal/metrics-pusher/metrics-pusher.go
Labels: MetricsPusher

push metrics
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller

Feature/push collector status to prometheus (#108)
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/metrics-pusher/metrics-pusher.go
Labels: Controller, MetricsPusher

Create new release.
  .version
Labels: none

Create new release. (#109)
  .version
Labels: none

add fake
  internal/metrics-pusher/fake_metrics_pusher.go
Labels: MetricsPusher

set fake metrics pusher
  internal/metrics-pusher/fake_metrics_pusher.go
Labels: MetricsPusher

set fake metrics pusher
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/metrics-pusher/fake_metrics_pusher.go
Labels: Controller, MetricsPusher

Test/fake metrics pusher (#110)
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/metrics-pusher/fake_metrics_pusher.go
Labels: Controller, MetricsPusher

add test suite
  internal/metrics-pusher/suite_test.go
Labels: MetricsPusher

add test for metrics pusher
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

rename
  internal/metrics-pusher/metrics_pusher.go
Labels: MetricsPusher

add test for syncer total
  internal/metrics-pusher/fake_metrics_pusher.go
  internal/metrics-pusher/metrics_pusher.go
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

add test for collectorNotReady
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

add test for collectorAvailable
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

no need to set option
  internal/metrics-pusher/metrics_pusher.go
Labels: MetricsPusher

set licenses
  internal/metrics-pusher/fake_metrics_pusher.go
  internal/metrics-pusher/metrics_pusher.go
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

Test/create test for metrics pusher (#111)
  internal/metrics-pusher/fake_metrics_pusher.go
  internal/metrics-pusher/metrics_pusher.go
  internal/metrics-pusher/metrics_pusher_test.go
  internal/metrics-pusher/suite_test.go
Labels: MetricsPusher

Create new release.
  .version
Labels: none

Create new release. (#112)
  .version
Labels: none

set port
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
Labels: Controller

set real metrics pusher
  internal/controller/integration_test.go
Labels: Controller

delete comment
  internal/metrics-pusher/metrics_pusher_test.go
Labels: MetricsPusher

set license
  internal/controller/integration_test.go
Labels: Controller

Test/set metrics bind address (#113)
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/metrics-pusher/metrics_pusher_test.go
Labels: Controller, MetricsPusher

Create new release.
  .version
Labels: none

Create new release. (#114)
  .version
Labels: none

check get status
  internal/metrics-collector/metrics_collector_test.go
Labels: MetricsCollector

fix test name
  internal/metrics-collector/metrics_collector_test.go
Labels: MetricsCollector

fix order
  internal/metrics-collector/metrics_collector_test.go
Labels: MetricsCollector

Test/test get status (#115)
  internal/metrics-collector/metrics_collector_test.go
Labels: MetricsCollector

delete namespace and name
  internal/metrics-pusher/metrics_pusher.go
Labels: MetricsPusher

delete from fake
  internal/metrics-pusher/fake_metrics_pusher.go
Labels: MetricsPusher
