Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, Metrics, Syncer, TestUtil, Config, GitHub Actions, Documentation

add license
  test/util/fake_custom_horizontal_pod_autoscaler.go
  test/util/fake_prometheus_server.go
Labels: TestUtil

update repo path
  PROJECT
  cmd/main.go
  go.mod
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/controller/suite_test.go
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/metrics/suite_test.go
  internal/syncer/fake_syncer.go
  internal/syncer/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Metrics, Syncer

Refactor/update repo path (#51)
  PROJECT
  cmd/main.go
  go.mod
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/controller/suite_test.go
  internal/metrics/fake_metrics_collector.go
  internal/metrics/metrics_collector.go
  internal/metrics/metrics_collector_test.go
  internal/metrics/suite_test.go
  internal/syncer/fake_syncer.go
  internal/syncer/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
  test/util/fake_custom_horizontal_pod_autoscaler.go
  test/util/fake_prometheus_server.go
Labels: Controller, Metrics, Syncer, TestUtil

add labels
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller

update sample
  config/samples/custom-autoscaling_v1alpha1_customhorizontalpodautoscaler.yaml
Labels: Config

Feature/add labels to hpa (#52)
  config/samples/custom-autoscaling_v1alpha1_customhorizontalpodautoscaler.yaml
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller, Config

add push tag action
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

use semver
  .github/workflows/deploy_images.yaml
Labels: GitHub Actions

add options
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

push a new tag with pr
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

add create release pr action
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

set title
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

update body
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

update body
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

fix
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

update
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

test
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

fix
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

fix body
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

update
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Chore/create release pr (#53)
  .github/workflows/create_release_pr.yaml
  .github/workflows/deploy_images.yaml
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

fix
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Fix/create release pr action (#54)
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

set version
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

fix
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Chore/set version (#55)
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

add echo
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Fix/create release pr (#56)
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

add pat
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

chore/set personal access token (#57)
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

Create new release.
  .version
Labels: none

Create new release. (#58)
  .version
Labels: none

rename job
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

get merged pr
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

add token
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

set semver
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

set semver
  .github/workflows/create_release_pr.yaml
Labels: GitHub Actions

fix
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

upgrade actions
  .github/workflows/push_tag.yaml
Labels: GitHub Actions

add go releaser
  .github/workflows/create_release.yaml
  .goreleaser.yaml
  .version
Labels: GitHub Actions

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

Metrics:
  - internal/metrics/**/*

Syncer:
  - internal/syncer/**/*

TestUtil:
  - test/util/**/*

Config:
  - config/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*
