Repository TomoyukiSugiyama/custom-horizontal-pod-autoscaler, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Controller, Metrics, Syncer, TestUtil, Config, GitHub Actions, Documentation

.github/labeler.yml:

---
API:
  - api/**/*

Controller:
  - cmd/main.go
  - internal/controller/**/*

Metrics:
  - internal/metrics/**/*

Syncer:
  - internal/syncer/**/*

TestUtil:
  - test/util/**/*

Config:
  - config/**/*

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

Documentation:
  - README.md
  - docs/**/*

update path
  Dockerfile
Labels: none

Refactor/update configuration of metrics cllector (#100)
  Dockerfile
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/metrics-collector/fake_metrics_collector.go
  internal/metrics-collector/metrics_collector.go
  internal/metrics-collector/metrics_collector_test.go
  internal/metrics-collector/suite_test.go
  internal/syncer/syncer.go
  internal/syncer/syncer_test.go
Labels: Controller, Syncer

add metrics pusher
  internal/metrics-pusher/metrics-pusher.go
Labels: none

add pusher option
  internal/metrics-pusher/metrics-pusher.go
Labels: none

set pusher option
  internal/metrics-pusher/metrics-pusher.go
Labels: none

set gauge vec
  internal/metrics-pusher/metrics-pusher.go
Labels: none

Feature/prepare metrics pusher (#101)
  internal/metrics-pusher/metrics-pusher.go
Labels: none

init metrics pusher
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
  internal/metrics-pusher/metrics-pusher.go
Labels: Controller

update vec name
  internal/metrics-pusher/metrics-pusher.go
Labels: none

set metrics pusher option
  cmd/main.go
  internal/controller/customhorizontalpodautoscaler_controller.go
  internal/controller/customhorizontalpodautoscaler_controller_test.go
  internal/controller/integration_test.go
Labels: Controller

add metrics-pusher path
  Dockerfile
Labels: none

update metrics when customhpa is deleted
  internal/controller/customhorizontalpodautoscaler_controller.go
Labels: Controller
